body.menu-on-top.fixed-header {
    padding-top: 49px
}

body:not(.menu-on-top).desktop-detected {
    min-height: 1190px !important
}

body.desktop-detected.iframe-detected {
    min-height: inherit !important
}

/**
 * Header
 */
.page-header {
    display: block;
    height: 49px;
    margin: 0;
    padding: 0 13px 0 0;
    background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
    background-repeat: repeat-x;
    position: relative;
    z-index: 905
}

.fixed-header .page-header {
    position: fixed;
    width: 100%;
    z-index: 905;
    top: 0;
    border-bottom: 2px solid #999;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-shadow: -11px 12px 23px rgba(0, 0, 0, .1)
}

.fixed-header.fixed-topbar .page-header {
    border-bottom: none;
    box-shadow: none
}

.container.fixed-header .page-header {
    max-width: 1164px
}

.page-header > div {
    display: inline-block;
    vertical-align: middle;
    height: 49px;
    float: left
}

.page-header > div.open {
    font-weight: 700
}

/**
 * Main Content
 */
.main {
    margin-left: 220px;
    padding: 0;
    padding-bottom: 52px;
    min-height: 500px;
    position: relative
}

.iframe-detected .main {
    margin-left: 0;
    padding-bottom: 0;
    height: 100%;
    width: 100%;
}

.content {
    padding: 10px 14px;
    position: relative
}

.iframe-detected .content {
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Activity*/
.activity {
    position: relative;
}

.logo-group .activity {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: none;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #c4bab6;
    font-size: 19px;
    margin: 10px 0 0;
    position: relative;
    float: left
}

.logo-group .activity:hover {
    border: 1px solid #bfbfbf;
    transition: all 0s;
    cursor: pointer !important;
    -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08)
}

.activity b.badge {
    position: absolute;
    margin: -8px 0 0 -10px;
    cursor: pointer;
    background: #0091d9;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 2px 4px 3px;
    text-align: center;
    line-height: normal
}

.activity.active .badge {
    background: #006fa6 !important
}

.logo-group .activity b.badge {
    margin: 0;
    top: -5px;
    right: -5px;
}

.ajax-dropdown, .ajax-dropdown * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.ajax-dropdown > :first-child {
    margin: 0 0 3px;
    padding: 0 0 9px
}

.ajax-dropdown {
    position: absolute;
    display: none;
    z-index: 905;
    top: 48px;
    left: -167px;
    width: 344px;
    height: 435px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(30, 30, 100, .25);
    -moz-box-shadow: 0 2px 4px rgba(30, 30, 100, .25);
    box-shadow: 0 2px 4px rgba(30, 30, 100, .25);
    padding: 10px;
    background: #fff;
    border: 1px solid #b3b3b3
}

.ajax-dropdown:after, .ajax-dropdown:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.ajax-dropdown:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 7px;
    left: 50%;
    margin-left: -7px
}

.ajax-dropdown:before {
    border-color: rgba(131, 131, 131, 0);
    border-bottom-color: #838383;
    border-width: 8px;
    left: 50%;
    margin-left: -8px
}

.ajax-dropdown .btn-group .btn {
    font-weight: 700;
    text-transform: capitalize
}

.ajax-dropdown .btn-group > :nth-child(2) {
    border-right-width: 0;
    border-left-width: 0
}

.ajax-dropdown .btn-group > :last-child {
    border-right-width: 1px !important
}

.ajax-dropdown .btn-group .btn:active {
    top: 0;
    left: 0
}

.ajax-notifications {
    height: 365px;
    display: block;
    overflow: auto;
    margin-right: -10px;
    margin-left: -10px;
    border-bottom: 1px solid #CECECE;
    border-top: 1px solid #CECECE;
    background: #E9E9E9
}

.ajax-notifications .alert.alert-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #757575;
    margin: 13px 10px
}

.ajax-notifications .alert > :first-child {
    margin-bottom: 10px;
    font-weight: 400
}

.ajax-dropdown > :last-child {
    font-size: 13px;
    display: block;
    padding: 5px 0;
    line-height: 22px;
    font-weight: 400
}

.ajax-dropdown .fa-4x.fa-border {
    border-width: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 46px;
    text-align: center;
    color: #D1D1D1;
    border-color: #D1D1D1
}

.active > .ajax-dropdown {
    -webkit-animation-name: flipInY;
    -moz-animation-name: flipInY;
    -o-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.fixed-header .page-header .ajax-dropdown {
    z-index: 906
}

/*Header Buttons*/
.btn-header.pull-right {
    margin-left: 6px
}

.btn-header a > span {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    display: inline-block
}

.btn-header > :first-child > a {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: 700;
    height: 30px;
    line-height: 24px;
    min-width: 30px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #bfbfbf;
    color: #6D6A69;
    font-size: 17px;
    margin: 10px 0 0
}

.btn-header > :first-child > a:hover {
    border: 1px solid #bfbfbf;
    color: #222;
    transition: all 0s;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08);
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .08)
}

.btn-header > :first-child > a:active {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8), color-stop(100%, #ededed));
    background-image: -webkit-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -o-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: -ms-linear-gradient(top, #e8e8e8 0, #ededed 100%);
    background-image: linear-gradient(to bottom, #e8e8e8 0, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ededed', GradientType=0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15)
}

.header-search {
    position: relative
}

.header-search.pull-right {
    margin-left: 6px
}

.header-search > input[type=text] {
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    min-width: 200px;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    outline: 0;
    border: 1px solid #bfbfbf;
    border-radius: 0;
    background: #fff;
    color: #404040;
    appearance: normal;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 10px;
    line-height: normal
}

.header-search > button {
    background: 0 0;
    border: none;
    color: #6D6A69;
    font-size: 17px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    z-index: 2
}

.btn-search-mobile {
    display: none
}

.btn-cancel-search-mobile {
    position: absolute;
    display: none;
    background: #a90329;
    z-index: 3;
    color: #fff;
    padding: 0;
    right: 10px;
    top: 10px;
    text-align: center;
    height: 29px;
    line-height: 29px;
    width: 30px;
    font-size: 17px;
    text-decoration: none !important
}

.login-info {
    padding-right: 2px !important;
    padding-left: 2px !important;
    margin-left: 6px;
}

.login-info a.dropdown-toggle img {
    width: 30px;
    border: 1px solid #797979 !important
}

.login-info span {
    color: #6D6A69;
}

.menu-on-top .login-info {
    display: block !important
}

.no-menu .login-info {
    display: block !important
}

.no-menu .login-info a.dropdown-toggle img {
    width: 30px;
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 3px;
    border: 1px solid #797979 !important
}

.header-dropdown-list {
    list-style: none;
    float: right;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0
}

.header-dropdown-list > li {
    display: inline-block;
    padding-right: 5px
}

.header-dropdown-list > li > .dropdown-toggle {
    margin-top: 5px;
    display: block
}

.open > .dropdown-menu {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}

.minified .btn-hide-menu {
    display: none
}

.hidden-menu .btn-hide-menu > :first-child > a {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #5a5a5a 0, #686868 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a5a5a), color-stop(100%, #686868));
    background-image: -webkit-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: -o-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: -ms-linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    background-image: linear-gradient(to bottom, #5a5a5a 0, #686868 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#686868', GradientType=0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .15);
    color: #fff;
    border-color: #494949
}

.full-screen .btn-fullscreen > :first-child > a:active, .hidden-menu .btn-hide-menu > :first-child > a:active {
    -webkit-box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, .2)
}

/**
 * Left Panel
 */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 904;
    padding-top: 49px;
    -webkit-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -webkit-transform: translate(0px, 0) translateZ(0px)
}

aside {
    display: block;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NyUiIHN0b3AtY29sb3I9IiMzYTM2MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmEyNzI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(93%, #3a3633), color-stop(100%, #2a2725));
    background: -webkit-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -o-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: -ms-linear-gradient(left, #3a3633 93%, #2a2725 100%);
    background: linear-gradient(to right, #3a3633 93%, #2a2725 100%);
    min-height: 100%
}

.fixed-navigation .sidebar {
    height: 100%;
    position: fixed
}

.minified .sidebar {
    width: 45px;
    overflow: visible
}

.hidden-menu .sidebar {
    left: -210px;
    z-index: 903
}

.menu-on-top.hidden-menu .sidebar {
    left: 0
}

.menu-on-top aside.sidebar {
    width: 100% !important;
    min-height: 0 !important;
    height: auto;
    overflow: visible;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    border-bottom: 1px solid #222;
    border-top: 1px solid #333
}

.btn-minify-menu {
    border-bottom: 1px solid #302F2F;
    background: #454545;
    color: #A8A8A8;
    text-align: center;
    padding: 0;
    width: 36px;
    height: 28px;
    display: block;
    position: absolute;
    right: 0;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    margin-top: 7px;
    font-size: 19px;
    transition: all .1s linear 0s
}

.btn-minify-menu:hover {
    background: #646464;
    color: #E4E4E4;
    right: 0;
    width: 40px;
    padding-right: 5px
}

.minified .btn-minify-menu {
    right: 0;
    color: #A8A8A8;
    position: relative;
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: 34px;
    font-size: 23px
}

.minified .btn-minify-menu .fa:before {
    content: "\f0a9"
}

.hidden-menu .sidebar:hover {
    left: 0
}

.hidden-menu .btn-minify-menu {
    display: none
}

.menu-on-top .btn-minify-menu {
    display: none !important
}

/*badge in the menu*/
.minified .inbox-badge {
    border-radius: 50%;
    font-size: 9px;
    padding: 2px;
    position: absolute;
    top: 6px;
    right: 6px;
    background: #ED1C24;
    min-width: 13px
}

/**
 * Menus
 */
nav ul li a:active {
    background: #616161 !important
}

nav ul {
    width: 100%;
    padding: 40px 28px 25px 0;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: .5em;
    list-style: none;
    position: relative
}

nav ul .active > a {
    color: #fff !important;
    position: relative
}

nav ul li.active > a:before {
    content: "\f0d9";
    font-family: FontAwesome;
    display: block;
    height: 27px;
    line-height: normal;
    width: 27px;
    position: absolute;
    right: -21px;
    font-size: 20px;
    color: #eee
}

nav ul li.active.open > a:before {
    content: ""
}

nav > ul > li:last-child.open {
    border-bottom: 1px solid rgba(255, 255, 255, .15)
}

nav ul li a {
    line-height: normal;
    font-size: 14px;
    padding: 10px 10px 10px 11px;
    color: #c0bbb7;
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    position: relative
}

nav > ul > li > ul > li > a, nav > ul > li > ul > li > ul > li > a {
    padding-top: 7px;
    padding-bottom: 7px
}

nav ul li a:focus {
    color: #c9c9c9
}

nav ul li a:hover {
    color: #fff;
    text-decoration: none
}

nav ul li a.inactive, nav ul li a.inactive:hover {
    opacity: .5;
    cursor: not-allowed;
    color: #c0bbb7
}

nav ul b {
    float: right;
    font-size: 11px;
    margin-top: 2px
}

nav ul span.menu-item-parent {
    display: inline-block;
    margin: 0;
    padding: 0
}

nav ul li.open > a, nav ul > li.open > a .collapse-sign {
    color: #fff !important
}

nav ul > li > a > .collapse-sign {
    position: absolute !important;
    right: 10px;
    top: 10px
}

nav > ul > li > a > i {
    margin-right: 5px;
    width: 15px;
    display: inline-block;
    text-align: center;
    position: relative
}

nav > ul > li > a > i > em {
    font-size: 9px;
    display: block;
    padding: 2px;
    position: absolute;
    top: -8px;
    right: -6px;
    text-decoration: none;
    font-style: normal;
    background: #ED1C24;
    color: #fff;
    min-width: 13px;
    border-radius: 50%;
    max-height: 13px;
    line-height: 8px;
    font-weight: 700;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, .1)
}

nav ul li li {
    border-bottom: none;
    position: relative
}

nav > ul > li > ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #7A7A7A
}

nav > ul ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    left: 23px;
    top: 16px;
    border-top: 1px solid #7A7A7A;
    z-index: 1
}

nav > ul ul ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    left: 10px;
    top: 17px;
    border-top: 1px solid transparent
}

nav > ul ul li a i {
    font-size: 14px !important;
    width: 18px !important;
    text-align: center !important;
    vertical-align: 0 !important;
    line-height: 1 !important
}

nav > ul > li:hover > ul::before, nav > ul > li:hover > ul > li::before {
    border-color: #ACACAC !important
}

nav ul ul {
    margin: 0;
    display: none;
    background: rgba(69, 69, 69, .6);
    padding: 7px 0
}

nav ul ul ul {
    background: 0 0;
    padding: 0
}

nav ul ul li {
    margin: 0;
    padding: 0
}

nav ul ul li > a {
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    outline: 0
}

nav ul ul li > a:hover {
    background-color: rgba(69, 69, 69, .8);
    color: #fff
}

nav ul ul ul li a {
    color: #bfbfbf;
    padding: 8px 10px 8px 60px;
    font-size: 14px
}

nav ul ul ul li a:hover {
    color: #fff
}

nav ul ul ul ul li a {
    padding-left: 80px
}

nav ul ul ul ul ul li a {
    padding-left: 100px
}

nav ul ul ul ul ul ul li a {
    padding-left: 120px
}

nav ul ul b {
    color: #B3B3B3
}

nav ul ul > li:hover b {
    color: #D5D9E2
}

.fixed-navigation nav {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 49px
}

.fixed-navigation nav > ul {
    padding-right: 15px;
    position: relative;
    height: 100%;
    width: 114%;
    overflow-x: hidden;
    overflow-y: scroll
}

.mobile-detected.fixed-navigation nav > ul {
    padding-right: 30px !important
}

.minified.fixed-navigation nav {
    -webkit-overflow-scrolling: none;
    overflow: visible;
    height: auto;
    padding-bottom: 0
}

.minified.fixed-navigation nav > ul {
    overflow: visible;
    padding-right: 0;
    width: 100%
}

.minified nav > ul > li {
    overflow: visible
}

.minified nav > ul > ul {
    min-height: 100px !important;
    max-height: 180px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #ed1c24 !important
}

.minified nav > ul > li, .minified nav > ul > li a {
    position: relative
}

.minified nav ul > li > a {
    padding: 10px 11px;
    display: block
}

.minified nav > ul > li > a .fa.fa-fw {
    display: block;
    width: auto;
    text-align: center;
    padding: 0
}

.minified nav > ul > li > a > i {
    text-align: center;
    margin: 0;
    display: block
}

.minified nav > ul > li.active > a::before {
    content: "\f0d9"
}

.minified nav ul ul li a {
    padding-left: 14px
}

.minified nav ul ul li li a {
    padding-left: 25px
}

.minified nav > ul ul li::before, .minified nav > ul > li > ul::before {
    left: 12px
}

.minified nav > ul > li > a .menu-item-parent, .minified nav > ul > li > a > .collapse-sign {
    display: none
}

.minified nav > ul > li > a > .menu-item-parent {
    display: none;
    position: absolute;
    left: 40px;
    top: -3px;
    width: 186px;
    height: 38px;
    line-height: 38px;
    background-color: #f5f5f5;
    color: #333;
    z-index: 3;
    -webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, .2);
    border-left: 1px solid #bfbfbf;
    border-top: 1px solid #D8D4D4;
    border-bottom: 1px solid #fff;
    padding-left: 12px
}

.minified .menu-item-parent {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.minified nav > ul > li > ul {
    display: none !important;
    position: absolute;
    left: 40px;
    width: 199px;
    z-index: 5;
    border: 1px solid #bfbfbf;
    min-height: 180px;
    -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .2);
    background: #454545;
    margin-top: -3px;
    overflow: hidden
}

.minified nav ul > li > ul > li > ul {
    position: relative;
    left: 13px;
    border: none;
    margin-left: -12px;
    width: 197px
}

.minified nav > ul > li:hover > a > .menu-item-parent, .minified nav > ul > li:hover > ul {
    display: block !important
}

.minified nav > ul > li > ul > li {
    background-color: rgba(69, 69, 69, .9)
}

.minified nav > ul > li > ul > li > ul > li {
    background-color: #484B50
}

.minified nav > ul > li {
    border-bottom: 1px solid #1A1817;
    border-top: 1px solid #525151
}

.minified nav > ul > li > ul::before {
    border-left: none
}

.minified nav > ul ul li::before {
    border: none
}

.minified nav > ul > li > ul > li > a, .minified nav > ul > li > ul > li > ul > li > a {
    padding-top: 7px;
    padding-bottom: 7px
}

.minified nav > ul > li > ul > li > ul > li a {
    padding-top: 6px;
    padding-bottom: 6px
}

.minified nav ul ul ul ul li a {
    padding-left: 45px
}

.minified nav ul ul ul ul ul li a {
    padding-left: 62px
}

.minified nav ul ul ul ul ul ul li a {
    padding-left: 82px
}

.menu-on-top aside.sidebar nav > ul {
    display: block;
    width: 100%
}

.menu-on-top aside.sidebar nav > ul > li:first-child {
    margin-left: 0
}

.menu-on-top aside.sidebar nav > ul > li {
    position: relative;
    height: auto !important;
    padding: 0 !important;
    display: inline-block;
    float: left;
    border-right: 1px solid #222;
    border-left: 1px solid #4E4E4E;
    overflow: visible
}

.menu-on-top aside.sidebar nav > ul > li > a {
    display: inline-block;
    height: 68px;
    text-shadow: none !important;
    font-size: 13px;
    text-decoration: none;
    line-height: 22px;
    padding: 10px 9px !important
}

.menu-on-top li.active > a {
    font-weight: 700 !important
}

.menu-on-top nav ul > li .collapse-sign {
    display: none
}

.menu-on-top aside.sidebar nav > ul > li > a > i {
    display: block !important;
    margin: 1px 0 2px 0;
    line-height: inherit;
    text-align: center;
    font-size: 24px;
    /*margin-bottom: 2px;*/
    width: 100%
}

.menu-on-top .menu-item-parent {
    max-width: 102px;
    min-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 13px
}

.menu-on-top .menu-item-parent + span {
    float: none !important;
    top: 5px;
    right: 5px;
    position: absolute
}

.menu-on-top nav ul ul li a {
    padding-left: 10px !important;
    font-size: 13px
}

.menu-on-top aside.sidebar nav > ul > li:hover {
    background: #fff;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #cfcfcf));
    background: -ms-linear-gradient(bottom, #fff, #cfcfcf);
    background: -moz-linear-gradient(center bottom, #fff 0, #cfcfcf 100%);
    background: -o-linear-gradient(#cfcfcf, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#ffffff', GradientType=0)
}

.menu-on-top aside.sidebar nav > ul > li:hover > a {
    color: #333 !important;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    padding-left: 8px !important;
    padding-right: 8px !important
}

.menu-on-top aside.sidebar nav > ul > li > ul {
    position: absolute !important;
    background: #3a3633
}

.menu-on-top aside.sidebar nav > ul > li:hover > ul {
    display: block !important
}

.menu-on-top aside.sidebar nav ul li.active > a:before {
    content: "" !important
}

.menu-on-top nav > ul ul li::before, .menu-on-top nav > ul > li > ul::before {
    border: none
}

.menu-on-top nav ul ul li a, .menu-on-top nav ul ul ul li a {
    color: #4C4F53
}

.menu-on-top nav ul ul li a:hover, .menu-on-top nav ul ul li:hover > a, .menu-on-top nav ul ul ul li a:hover {
    color: #fff;
    background-color: #4C4F53
}

.menu-on-top nav > ul ul ul {
    border-top: 1px solid #c7c7c7 !important
}

.menu-on-top nav ul ul li {
    overflow: visible
}

.menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
    display: none !important;
    background: #fff !important;
    border: 1px solid #c7c7c7;
    -moz-box-shadow: inset 0 -4px 0 0 #bd2a2a;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-bottom: 1px solid #BD2A2A;
    border-top: none;
    width: 200px;
    border-radius: 0;
    padding: 3px;
    margin-left: 0
}

.menu-on-top nav > ul ul li:hover > ul {
    display: block !important;
    position: absolute;
    z-index: 999;
    left: 100%;
    top: -8px;
    background: #333
}

.menu-on-top nav > ul > li > a:after {
    content: "\f0dd" !important;
    top: 76% !important;
    color: #636363 !important;
    left: 46%
}

.menu-on-top nav ul ul li:hover > a:after, .menu-on-top nav > ul ul > li a:after, .menu-on-top nav > ul ul > li a:hover:after, .menu-on-top nav > ul > li > a:after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0da";
    display: block !important;
    position: absolute;
    top: 9px;
    right: 4px;
    color: #333
}

.menu-on-top nav ul ul li:hover > a:after, .menu-on-top nav > ul ul > li a:hover:after {
    color: #fff
}

.menu-on-top nav > ul ul > li a:only-child:after, .menu-on-top nav > ul > li > a:only-child:after {
    content: "" !important
}

.menu-on-top nav ul ul .active > a {
    color: #333 !important
}

.menu-on-top nav ul ul .active > a:hover, .menu-on-top nav ul ul li.active:hover > a {
    color: #fff !important
}

.menu-on-top nav {
    overflow: visible !important
}

body.menu-on-top.fixed-header.fixed-navigation nav > ul {
    padding-right: 0;
    position: relative;
    height: auto;
    width: auto;
    overflow: visible
}

.menu-on-top .top-menu-invisible, .no-menu .btn-hide-menu, .no-menu .sidebar {
    display: none !important
}

/**
 * Main
 */
.fixed-header .main {
    margin-top: 49px
}

.minified .main {
    margin-left: 45px
}

.hidden-menu .main {
    margin-left: 10px
}

.no-menu .main {
    margin: 0 !important
}

.menu-on-top .main {
    margin-left: 0 !important;
    margin-top: 69px !important
}

/**
 * Main Header
 */
.topbar {
    min-height: 40px;
    background: #474544;
    padding: 0 13px;
    position: relative
}

.fixed-topbar .topbar {
    position: fixed;
    right: 0;
    left: 220px;
    top: 49px;
    z-index: 901
}

.container.fixed-topbar .topbar {
    width: 944px;
    left: 590px
}

.minified.fixed-topbar .topbar {
    left: 45px
}

.hidden-menu.fixed-topbar .topbar {
    left: 10px
}

body.menu-on-top.fixed-header.fixed-navigation.fixed-topbar .topbar {
    left: 0;
    top: 118px
}

.topbar .breadcrumb {
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0 !important;
    background: 0 0;
    vertical-align: top
}

.topbar .breadcrumb, .topbar .breadcrumb a {
    color: #BBB !important;
    text-decoration: none !Important
}

.topbar .breadcrumb li:last-child, .topbar .breadcrumb > .active {
    color: #E4E4E4
}

.btn.btn-topbar {
    background-color: #707070;
    background-image: -moz-linear-gradient(top, #777, #666);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#777), to(#666));
    background-image: -webkit-linear-gradient(top, #777, #666);
    background-image: -o-linear-gradient(top, #777, #666);
    background-image: linear-gradient(to bottom, #777, #666);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff777777', endColorstr='#ff666666', GradientType=0);
    color: #fff;
    padding: 0 5px;
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
    display: block;
    border: none;
    float: left;
    margin: 0 8px 0 0;
    cursor: pointer
}

.btn.btn-topbar > i {
    font-size: 121%
}

.topbar-btn-group {
    padding-top: 10px;
    display: inline-block
}

.topbar-btn-group.pull-right > .btn.btn-topbar {
    margin: 0 0 0 8px
}

/**
 * Main Content
 */
.fixed-topbar .content {
    padding-top: 50px
}

/**
 * Page Footer
 */
.page-footer {
    height: 52px;
    padding: 15px 13px 0;
    padding-left: 233px;
    border-top: 1px solid #CECECE;
    background: #2a2725;
    width: 100%;
    position: absolute;
    display: block;
    bottom: 0
}

.fixed-page-footer .page-footer {
    position: fixed;
    z-index: 901
}

.minified .page-footer {
    padding-left: 58px
}

.container.fixed-page-footer .page-footer {
    max-width: 1164px
}

.hidden-menu .page-footer {
    padding-left: 20px
}

.menu-on-top .page-footer {
    padding: 15px 13px 0
}

/**
 * Responsive
 */
@media (max-width: 979px) {
    html.hidden-menu-mobile-lock {
        overflow-x: hidden
    }

    body.container {
        border: none !important;
        width: 100% !important
    }

    .btn-fullscreen > :first-child > a {
        display: none !important
    }

    .header-search.pull-right {
        margin-left: 0
    }

    .main {
        width: 100% !important
    }

    .page-footer {
        padding: 15px 14px 0
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /*Switch Activity to Left*/
    .logo-group .activity {
        display: inline-block;;
    }

    .activity {
        position: static;
    }

    .activity span {
        display: none;
    }

    .ajax-dropdown {
        left: 17px;
        top: 49px
    }

    /*Header Buttons*/
    .btn-header a {
        margin-top: 9px !important;
        width: 40px !important
    }

    .btn-hide-menu > :first-child > a {
        margin-top: 9px;
        width: 40px
    }

    .btn-hide-menu i {
        color: #6D6A69;
        font-size: 100%
    }

    .hidden-menu .btn-hide-menu i {
        color: #fff
    }

    .btn-hide-menu i::before {
        content: "\f0c9"
    }

    .header-search > input[type=text] {
        margin-top: 9px
    }

    /*Navigator*/
    .sidebar {
        left: -220px
    }

    .hidden-menu .sidebar {
        left: 0
    }

    .hidden-menu .main {
        position: relative;
        left: 210px
    }

    .hidden-menu.fixed-topbar .topbar {
        left: 220px;
        width: 100%
    }

    .fixed-topbar .topbar {
        left: 0
    }

    .minified .sidebar {
        left: 0
    }

    .main {
        margin-left: 0
    }

}

@media (min-width: 768px) and (max-width: 880px) {
    .logo {
        margin-top: 10px
    }

    .logo img {
        width: 127px
    }

    /*Switch Activity to Left*/
    .logo-group .activity {
        display: inline-block;;
    }

    .activity {
        position: static;
    }

    .activity span {
        display: none;
    }

    .ajax-dropdown {
        left: 17px;
        top: 49px
    }

    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important
    }

    .btn-header.transparent a:hover {
        color: #a90329
    }

    .btn-hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important
    }

    .btn-hide-menu i {
        color: #6D6A69;
        font-size: 121%
    }

    .hidden-menu .btn-hide-menu i {
        color: #fff
    }

    .btn-hide-menu i::before {
        content: "\f0c9"
    }

    .header-search > input[type=text] {
        margin-top: 9px
    }

    .sidebar {
        left: -220px
    }

    .minified .sidebar {
        left: 0
    }

    .hidden-menu .sidebar {
        left: 0
    }

    .main {
        margin-left: 0;
        overflow-x: hidden
    }

    .hidden-menu .main {
        position: relative;
        left: 210px
    }

    .hidden-menu.fixed-topbar .topbar {
        left: 220px;
        width: 100%
    }

    .fixed-topbar .topbar {
        left: 0
    }
}

@media (max-width: 767px) {

    body.fixed-navigation.hidden-menu {
        overflow: hidden !important
    }

    .page-header {
        padding-right: 5px
    }

    .logo {
        margin-left: 4px;
        margin-top: 10px
    }

    .logo img {
        width: 127px
    }

    /*Switch Activity to Left*/
    .logo-group .activity {
        display: inline-block;;
    }

    .activity {
        position: static;
    }

    .activity span {
        display: none;
    }

    .ajax-dropdown {
        left: 12px;
        top: 49px
    }

    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important
    }

    .btn-header.transparent a:hover {
        color: #a90329
    }

    .btn-hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important
    }

    .btn-hide-menu > :first-child > a {
        width: 50px !important
    }

    .btn-hide-menu i {
        color: #6D6A69;
        font-size: 121%
    }

    .hidden-menu .btn-hide-menu i {
        color: #fff
    }

    .btn-hide-menu i::before {
        content: "\f0c9"
    }

    .header-search {
        display: none
    }

    .btn-search-mobile {
        display: block
    }

    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }

    .search-mobile .header-search > input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }

    .search-mobile .header-search > button {
        height: 29px;
        line-height: 29px;
        background: #DDD;
        right: 44px
    }

    .search-mobile .btn-search-mobile {
        display: none
    }

    .search-mobile .btn-cancel-search-mobile {
        display: block
    }

    /*Sidebar*/
    .hidden-menu .sidebar {
        left: 0
    }

    .sidebar {
        left: -220px
    }

    .minified .sidebar {
        left: 0
    }

    /*Main*/
    .main {
        margin-left: 0;
        overflow-x: hidden
    }

    .hidden-menu .main {
        position: relative;
        left: 210px
    }

    .hidden-menu.fixed-topbar .topbar {
        left: 220px;
        width: 100%
    }

    .fixed-topbar .topbar {
        left: 0
    }

    .content, .topbar {
        padding-left: 5px;
        padding-right: 5px
    }

    .fixed-topbar .content {
        padding-top: 52px
    }
}

@media only screen and (min-width: 0) and (max-width: 679px) {
    .page-header {
        background: #fff;
        padding-right: 5px
    }

    .logo {
        margin-left: 4px;
        margin-top: 10px
    }

    .logo img {
        width: 127px
    }

    /*Switch Activity to Left*/
    .logo-group .activity {
        display: inline-block;;
    }

    .activity {
        position: static;
    }

    .activity span {
        display: none;
    }

    .ajax-dropdown {
        left: 12px;
        top: 49px
    }

    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important
    }

    .btn-header.transparent a:hover {
        color: #a90329
    }

    .btn-hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important
    }

    .btn-hide-menu > :first-child > a {
        width: 50px !important
    }

    .btn-hide-menu i {
        color: #6D6A69;
        font-size: 121%
    }

    .hidden-menu .btn-hide-menu i {
        color: #fff
    }

    .btn-hide-menu i::before {
        content: "\f0c9"
    }

    .header-search {
        display: none
    }

    .btn-search-mobile {
        display: block
    }

    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }

    .search-mobile .header-search > input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }

    .search-mobile .header-search > button {
        height: 29px;
        line-height: 29px;
        background: #DDD;
        right: 44px
    }

    .search-mobile .btn-search-mobile {
        display: none
    }

    .search-mobile .btn-cancel-search-mobile {
        display: block
    }

    /*Sidebar*/
    .sidebar {
        left: -220px
    }

    .minified .sidebar {
        left: 0
    }

    .hidden-menu .sidebar {
        left: 0
    }

    /*Main*/
    .main {
        margin-left: 0;
        overflow-x: hidden
    }

    .hidden-menu .main {
        position: relative;
        left: 210px
    }

    .content, .topbar {
        padding-left: 5px;
        padding-right: 5px
    }

    .topbar {
        border-bottom: 1px solid #CFCFCF;
        border-top: 1px solid #E6E6E6;
        background: #F5F5F5
    }

    .topbar .breadcrumb, .topbar .breadcrumb a {
        color: #6D6C6C !important
    }

    .topbar .breadcrumb li:last-child, .topbar .breadcrumb > .active {
        color: #333 !important
    }

    .hidden-menu.fixed-topbar .topbar {
        left: 220px;
        width: 100%
    }

    .fixed-topbar .topbar {
        left: 0
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .page-header {
        padding-right: 5px;
        background: #fff
    }

    .logo {
        margin-left: 4px;
        width: 135px;
        margin-top: 10px
    }

    .logo-group {
        width: 169px !important
    }

    .logo img {
        width: 127px
    }

    .ajax-notifications {
        height: 250px
    }

    .ajax-dropdown {
        width: 299px;
        height: 320px;
        left: 0px;
        top: 49px
    }

    .ajax-dropdown:before {
        margin-left: -14px
    }

    .ajax-dropdown:after {
        margin-left: -13px
    }

    /*Header Buttons*/
    .btn-hide-menu > :first-child > a, .btn-header a {
        margin-top: 5px !important;
        width: 40px !important;
        height: 39px !important;
        line-height: 38px !important
    }

    .btn-header.transparent a {
        border: none !important;
        background: 0 0;
        margin-left: 0;
        width: 25px !important;
        box-shadow: none !important
    }

    .btn-header.transparent a:hover {
        color: #a90329
    }

    .btn-hide-menu > :first-child > a {
        width: 46px !important
    }

    .btn-hide-menu i {
        color: #6D6A69;
        font-size: 121%
    }

    .hidden-menu .btn-hide-menu i {
        color: #fff
    }

    .btn-hide-menu i::before {
        content: "\f0c9"
    }

    .header-search {
        display: none
    }

    .btn-search-mobile {
        display: block;
        margin-left: 0
    }

    .search-mobile .header-search {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 49px;
        background: #333;
        padding: 0 2px;
        box-sizing: border-box;
        left: 0
    }

    .search-mobile .header-search > input[type=text] {
        margin-top: 2px;
        height: 45px;
        border-color: #333;
        padding-right: 75px
    }

    .search-mobile .header-search > button {
        height: 29px;
        line-height: 29px;
        background: #DDD;
        right: 44px
    }

    .search-mobile .btn-search-mobile {
        display: none
    }

    .search-mobile .btn-cancel-search-mobile {
        display: block
    }

    /*Sidebar*/
    .sidebar {
        left: -220px
    }

    .minified .sidebar {
        left: 0
    }

    /*Main*/
    .main {
        margin-left: 0;
        overflow-x: hidden
    }

    .hidden-menu .sidebar {
        left: 0
    }

    .hidden-menu .main {
        position: relative;
        left: 210px
    }

    .topbar {
        border-bottom: 1px solid #CFCFCF;
        border-top: 1px solid #E6E6E6;
        background: #F5F5F5
    }

    .topbar .breadcrumb, .topbar .breadcrumb a {
        color: #6D6C6C !important
    }

    .topbar .breadcrumb li:last-child, .topbar .breadcrumb > .active {
        color: #333 !important
    }

    .hidden-menu.fixed-topbar .topbar {
        left: 220px;
        width: 100%
    }

    .fixed-topbar .topbar {
        left: 0
    }

    .content, .topbar {
        padding-left: 5px;
        padding-right: 5px
    }
}

@media (max-width: 979px) {
    /*Header*/
    .menu-on-top .btn-header.pull-right {
        margin-left: 0 !important
    }

    .menu-on-top .hide-menu {
        display: block !important
    }

    /*Sidebar*/
    .menu-on-top .sidebar {
        left: 0;
        display: none
    }

    .menu-on-top.hidden-menu .sidebar {
        display: block
    }

    .menu-on-top aside.sidebar nav {
        height: 300px !important;
        overflow: scroll;
        overflow-x: hidden !important;
        -webkit-overflow-scrolling: touch
    }

    .menu-on-top .menu-item-parent {
        white-space: inherit;
        overflow: visible;
        text-overflow: inherit;
        text-align: left;
        min-width: 85%;
        max-width: 85%;
        padding-left: 5px
    }

    .menu-on-top .menu-item-parent + span {
        top: 50%;
        margin-top: -8px
    }

    .menu-on-top nav li.active > ul {
        display: block
    }

    .menu-on-top nav > ul > li.active {
        background: #fff;
        background: -moz-linear-gradient(top, #cfcfcf 0, #fff 66%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cfcfcf), color-stop(66%, #fff));
        background: -webkit-linear-gradient(top, #cfcfcf 0, #fff 66%);
        background: -o-linear-gradient(top, #cfcfcf 0, #fff 66%);
        background: -ms-linear-gradient(top, #cfcfcf 0, #fff 66%);
        background: linear-gradient(to bottom, #cfcfcf 0, #fff 66%)
    }

    .menu-on-top nav > ul > li.active > a {
        color: #333 !important
    }

    .menu-on-top nav ul ul li:hover > a:after, .menu-on-top nav > ul ul > li a:after, .menu-on-top nav > ul ul > li a:hover:after, .menu-on-top nav > ul > li > a:after {
        top: 50%;
        right: 15px;
        font-size: 15px;
        margin-top: -8px;
        content: "\f0dd" !important
    }

    .menu-on-top nav > ul ul > li a:only-child:after, .menu-on-top nav > ul > li > a:only-child:after {
        content: "" !important
    }

    .menu-on-top nav > ul > li > a:after {
        top: 50% !important;
        left: auto;
        margin-top: -14px;
        font-size: 20px
    }

    .menu-on-top nav ul ul, .menu-on-top nav ul ul ul {
        padding: 0;
        border: none
    }

    .menu-on-top nav ul ul ul {
        border-bottom: 2px solid #333
    }

    .menu-on-top aside.sidebar nav > ul > li {
        width: 100%
    }

    .menu-on-top aside.sidebar nav > ul > li > a {
        height: auto;
        display: block;
        padding: 8px 9px !important;
        border-bottom: 1px dotted #585858
    }

    .menu-on-top nav > ul > li > ul > li > a, .menu-on-top nav > ul > li > ul > li > ul > li > a {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .menu-on-top aside.sidebar nav > ul > li > a > i {
        display: inline !important
    }

    .menu-on-top aside.sidebar nav > ul li ul {
        position: relative !important;
        width: 100%;
        top: 0;
        left: 0
    }

    .menu-on-top aside.sidebar nav > ul > li:active > ul, .menu-on-top aside.sidebar nav > ul > li:focus > ul {
        display: block !important
    }

    /*Main*/
    .menu-on-top .main {
        margin-top: 0 !important
    }

    .menu-on-top.hidden-menu .main {
        left: 0 !important
    }

    body.menu-on-top.fixed-header.fixed-navigation.fixed-topbar .topbar {
        top: 49px
    }

}